h1,
h2,
h3,
h4,
h5,
h6 {
	font-family : "Helvetica Neue", Helvetica, Arial;
	font-weight : bold;
}

h1 {
	margin-bottom : .75em;
	font-size : 3em; /* 48 / 16 = 3 */
	line-height : 1.2;
}

h2 {
	margin-bottom : .75em;
	font-size : 2em; /* 36 / 16 = 2 */
	line-height : 1.2;
}

h3 {
	margin-bottom : 1em;
	font-size : 1.5em; /* 24 / 16 = 1.5 */
	line-height : 1.3;
}

h4 {
	margin-bottom : 1.25em;
	font-size : 1.25em; /* 20 / 16 = 1.25 */
	line-height : 1.25;
}

h5 {
	margin-bottom : 1.5em;
	font-size : 1em; /* 16 / 16 = 1 */
}

h6 {
	font-size : 1em; /* 16 / 16 = 1 */
}