/* ----------------------------------------------------
=links
---------------------------------------------------- */
a,
a:visited {
	color : rgb(23,119,175);
	outline : none;
	text-decoration : none;
}

a:hover {	
	color : rgb(40,40,40);
	outline : none;
	text-decoration : underline;
}

a:active,
a:focus {
	color : rgb(0,0,0);
	outline : none;
}

a:link {
    -webkit-tap-highlight-color : rgb(52,158,219);
}

::-webkit-selection {
    background : rgb(23,119,175);
    color : rgb(250,250,250);
    text-shadow : none;
}

::-moz-selection {
    background : rgb(23,119,175);
    color : rgb(250,250,250);
    text-shadow : none;
}

::selection {
    background : rgb(23,119,175);
    color : rgb(250,250,250);
    text-shadow : none;
}