/* ----------------------------------------------------
=root
---------------------------------------------------- */
html {
    background-color: #fff;
    overflow-y: scroll;
}

body {
    background-color: transparent;
    color: rgb(40,40,40);
    font: 100%/1.4 Cambria, Georgia, Times, "Times New Roman";
    margin: 0 auto;
    padding: 24px 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width: 100%;
}