// --------------------------------------------------------
// variables
// --------------------------------------------------------
$colorBackground:       #ffffff; // white
$colorBackgroundAlt:    #e8e8e8; // light gray
$colorBackgroundDark:   #bebebe; // Dark gray
                        
$colorText:             #646464; // Dark Gray 
$colorTextAlt:          #4490b4; // Blue
$colorLinkAlt:          #d2c58a; // tan
                        
$colorAccent:           #650360; // Ally purple
$colorAccentDark:       #480145; // Ally Dark Purple
$colorAccentAlt:        #2c1262; // BLueish Purple                        
                        
$cornerRadius:          10px;
$cornerRadiusAlt:       4px;
$colorBorders:          #e3e3e3;
                        
$containerWidth:        960px;