p,
ol,
ul,
dl,
address {
	margin-bottom : 1.5em;
	font-size : 1em; /* 16 / 16 = 1 */
}

ul,
ol {
	margin : 0 0 1.5em -24px;
	padding-left : 24px;
}

ul {
	list-style-type : disc;
}

ol {
	list-style-type : decimal;
}

li ul,
li ol {
	margin : 0;
	font-size : 1em; /* 16 / 16 = 1 */
}

dl,
dd {
	margin-bottom : 1.5em;
}

dt {
	font-weight : normal;
}

blockquote {
	margin : 0 0 1.5em -24px;
	padding-left : 24px;
	border-left : 1px solid rgb(200,200,200);
	font-style : italic;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content : '';
	content : none;
}

b,
strong {
	font-weight : bold;
}

i,
em {
	font-style : italic;
}

sup,
sub {
	position : relative;
	font-size : 75%;
	line-height : 0;
}

sup {
	top : -.5em;
}

sub {
	bottom : -.25em;
}

address {
	font-style : normal;
}

pre {
	margin-bottom : 1.5em;
	white-space : pre;
	white-space : pre-wrap;
	word-wrap : break-word;
}

pre,
code {
	font : .875em 'andale mono', 'lucida console', monospace;
	line-height : 1.5;
}

small {
	font-size : 1em; /* 16 / 16 = 1 */
}
