/* ----------------------------------------------------
=768px
---------------------------------------------------- */
@media only screen and (min-width: 768px) {
  
  // 1. ROOT
  // 2. TYPOGRAPHY
  // 3. COLOR    
  // 4. TEXTURE   
  // 5. ELEMENTS  
  // 6. LAYOUT    
  // 7. VENDOR-SPECIFIC
  // 8. MODERNIZR      
  // 9. TEMPLATE SPECIFICS
}