-# Loads jQuery from Googles CDN. If there's no internet connection it'll
-# fall back to the local version
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"}
:javascript
    window.jQuery || document.write('<script src="/assets/js/libs/jquery.js">\x3C/script>')

-# The javascript specific to this site can go here. Feel free to rename to your preference
%script{:src => "/assets/js/script.js"}

-# A few goodies that help makes IE 6-8 behave a little better when using HTML5/CSS3
/[if (lt IE 9) & (!IEMobile)]
    <script src="/assets/js/libs/domassistant.js"></script>
    <script src="/assets/js/libs/selectivizr.js"></script>

-# Google analytics code. You can set the the site ID is set in the config.yaml file.
-# This code snippet will track a single domain with multiple subdomains
- domain = @config[:analytics][:domain]
- site_id = @config[:analytics][:id]
- if site_id
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{site_id}']);
        _gaq.push(['_setDomainName', '.#{domain}']);
        _gaq.push(['_trackPageview']);
        
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

%noscript#no-js It looks like you have Javascript turned off
