%meta{:charset => "utf-8"}
%title HTML5 Boilerplate with Nanoc, Haml, Sass & Compass - #{@item[:title]}

%meta{:name => "description", :content => "#{@item[:description]}"}
%meta{:name => "author", :content => "#{@item[:author]}"}

-# Defines the width of the viewport for handheld and mobile devices.
-# https://docs.google.com/present/view?id=dkx3qtm_22dxsrgcf4
%meta{:content => "True", :name => "HandheldFriendly"}
%meta{:content => "320", :name => "MobileOptimized"}
%meta{:content => "width=device-width, target-densitydpi=160dpi, initial-scale=1.0", :name => "viewport"}

-# Forces IE to use the latest rendering engine it can
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

-# takes care of the mobile browsers that just can't do as much
%link{:href => "/assets/stylesheets/handheld.css", :rel => 'stylesheet'}

-# Stylesheet for all browsers. Different viewport sizes are
-# created as partials in '/content/assets/stylesheets/' and then
-# included in the 'screen.css' using a Sass '@import'.
%link{:href => "/assets/stylesheets/screen.css", :rel => 'stylesheet'}

-# Modernizr is first. All other javascript has been placed in
-# '/layouts/partials/_footer.haml' which is rendered right before
-# the closing </body> tag
%script{:src => "/assets/js/libs/modernizr.js"}

-# All of the different icon sizes for the various devices
%link{:href => "/assets/images/icons/apple-touch-icon-iphone.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
%link{:href => "/assets/images/icons/apple-touch-icon-ipad.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
%link{:href => "/assets/images/icons/apple-touch-icon-iphone3g.png", :rel => "apple-touch-icon-precomposed"}
%link{:href => "/assets/images/icons/apple-touch-icon-nokia.png", :rel => "shortcut icon"}
%link{:href => "/assets/images/icons/favicon.ico", :rel => "shortcut icon"}

-# If you're specifically building a mobile web app then uncomment
-# otherwise you can delete this section
-# %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
-# %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
-# %link{:href => "/assets/images/splash.png", :rel => "apple-touch-startup-image"}

-# Mobile IE lets you turn on ClearType to make fonts smoother
-# %meta{:content => "on", "http-equiv" => "cleartype"}